<div class="container">
  <h2>Minhas ofertas enviadas</h2>
  <% @securities.each do |security| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%=render 'shared/security_card', security: security, link_path:  admin_security_bids_path(security) %>
    </div>
  <% end %>
  </div>
</div>
