<style>
.title-minha-ofertas h2 {
  margin: 10px;
  color: ;
}

</style>

<div class="container">
  <div class="title-minha-ofertas">
    <h2><strong>Minhas ofertas enviadas</strong></h2>
  </div>
  <% @securities.each do |security| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%=render 'shared/security_card', security: security, link_path:  admin_security_bids_path(security) %>
    </div>
  <% end %>
</div>

