// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

html {
  height: 100%;
}

body {
  height: calc(100% - 60px);
}

.main {
  min-height: calc(100% - 130px);
}
