<div class="footer">
  <div class="row footer-copyright" align="center">
      secondary. <i class="fa fa-copyright"></i>, Todos os direitos reservados
    </div>
  <div class="right-footer">
    <div class="footer-social-links">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-legal">
      <a href="#">Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
