<div class="footer">
  <div class="footer-copyright">
    secondary. <i class="fa fa-copyright"></i>, all rights reserved
  </div>
  <div class="right-footer">
    <div class="footer-links">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="footer-legal">
      <a href="#">Conditions</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
