<div class="partner-banks text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>aqui se negocia</h2>
        <br>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'banco do brasil-logo.png', class: "bank-logo" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'bradesco-logo.png', class: "bank-logo" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'banco original-logo.png', class: "bank-logo" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'vale-logo.png', class: "bank-logo" %>
        </div>
      </div>
    </div>
  </div>
<br>
</div>

