<div class="value-proposition text-center" style="background-image: linear-gradient(-20deg, rgba(0,63,191,1) 0%, rgba(48,52,129,1) 75%), url(<%= image_path 'blank.jpeg' %>)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>pra quem vende</h2>
        <div class="col-xs-12 col-md-6">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>anuncie aquele seu título sem liquidez e encontre investidores interessados em comprar de você</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <p>receba ofertas de outros investidores e obtenha a liquidez que lhe faltava</p>
        </div>
      </div>
      <div class="col-xs-12" style="border-top: 3px solid white">
        <h2>pra quem compra</h2>
        <div class="col-xs-12 col-md-6">
          <i class="fa fa-search" aria-hidden="true"></i>
          <p>busque por títulos que podem ter rentabilidade melhor que novas emissões do mercado</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <p>faça ofertas em títulos de outros investidores que combinam com seu perfil</p>
        </div>
      </div>
    </div>
  </div>
</div>
