<div class="value-proposition text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>pra quem vende</h2>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>coloque à venda seus títulos sem liquidez na plataforma</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-list" aria-hidden="true"></i>
          <p>receba ofertas de outros investidores interessados em seus títulos</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-dollar" aria-hidden="true"></i>
          <p>obtenha a liquidez que faltava em sua carteira</p>
        </div>
      </div>
      <div class="col-xs-12" style="border-top: 3px solid white">
        <h2>pra quem compra</h2>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-search" aria-hidden="true"></i>
          <p>busque por títulos listados por outros investidores</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-percent" aria-hidden="true"></i>
          <p>faça ofertas buscando a rentabilidade que você deseja</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <p>adquira o título pela taxa que você negociou e aumente a rentabilidade da sua carteira</p>
        </div>
      </div>
    </div>
  </div>
</div>
