<div class="value-proposition text-center">
  <div class="value-wrapper">
  <h2>como funciona</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>pra quem vende</h2>
        <div class="col-xs-12 col-md-3">
          <i class="fa fa-search" aria-hidden="true"></i>
          <p>anuncie aquele seu título que não possui liquidez e encontre investidores interessados em comprar de você</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
          <p>receba ofertas e obtenha liquidez quando lhe for necessário</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>pra quem compra</p>
        <div class="col-xs-12 col-md-3">
          <i class="fa fa-truck" aria-hidden="true"></i>
          <p>busque por títulos de outros investidores que podem ter rentabilidade melhor que as novas emissões do mercado</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <i class="fa fa-truck" aria-hidden="true"></i>
          <p>faça uma oferta no que lhe interessa e bom negócio!</p>
        </div>
      </div>
    </div>
  </div>
</div>
