<div class="value-proposition text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>o que é secondary.</h2>
        <p>O secondary. nasceu para atender a nececssidade de liquidez do investidor brasileiro.</p>
        <p>Somos uma plataforma onde você pode comprar e vender títulos de renda fixa no mercado secundário.</p>
      </div>
      <div class="col-xs-12">
      <h2>o que é mercado secundário?</h2>
      <p>Toda vez que um investidor compra um título de um emissor (banco, empresa) lança um título</p>
      <p>Mercado secundário</p>
      </div>
    </div>
  </div>
</div>
