<div class="what-clients-say text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>o que investidores falam</h2>
        <div class="balloons-flex">
          <div class="balloons col-xs-12 col-sm-5">
            <p>"Através da <strong>secondary</strong> encontrei um investidor interessado no meu CDB. Estava precisando do dinheiro para quitar um imóvel. Genial."</p>
            <h3>Sérgio C.</h3>
          </div>
          <div class="balloons col-xs-12 col-sm-5">
            <p>"Vendi minhas LCIs por uma taxa acima da minha expectativa. Muito bom!"</p>
            <h3>Maria Luiza F.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
