<div class="what-is text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>o que é a secondary.</h2>
        <p>A secondary. nasceu para atender a necessidade de liquidez do investidor brasileiro.</p>
        <p>Somos uma plataforma independente onde você pode comprar e vender títulos de renda fixa no mercado secundário.</p>
      </div>
      <div class="col-xs-12">
        <h2>o que é mercado secundário?</h2>
        <p>Toda vez que você compra um título de renda fixa, através de um banco ou corretora, seu dinheiro vai diretamente para a instituição que emitiu o título (banco, empresa), designando assim uma transação no <strong>mercado primário</strong>.</p>
        <p> Uma transação no <strong>mercado secundário</strong> é caracterizada pela troca de valores e titularidade entre os próprios investidores, sem envolver o emissor do título.</p>
      <p></p>
      </div>
    </div>
  </div>
</div>
