<div class="what-clients-say text-center">
  <div class="fill">
        <h2>o que investidores falam</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="balloons ">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <div class="text-container">
                <p>"Através da <strong>secondary.</strong> encontrei um investidor interessado no meu CDB. Estava precisando do dinheiro para quitar um imóvel. Genial."</p>
                </div>
              </div>
                <h3>Sérgio C.</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="balloons">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              <div class="text-container">
                <p>"Vendi minhas LCIs por uma taxa acima da minha expectativa. Usei os recursos para comprar outros títulos aqui mesmo no secondary. Muito bom!"</p>
                </div>
              </div>
                <h3>Maria Luiza F.</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
              <div class="balloons ">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              <div class="text-container">
                <p>"Ótimas oportunidades de compra. Rentabilizo minha carteira em taxas melhores que no mercado primário com toda a segurança. Recomendo!"</p>
                </div>
              </div>
                <h3>Frederico C.</h3>
            </div>
          </div>
  </div>
</div>
