var card = "<%=j render "shared/calculations_card" %>";
$(".security-card").replaceWith(card);

var alert = $("<div>");
alert.addClass("alert alert-info alert-dismissible");
alert.attr('role', 'alert');

var button = $('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
alert.text("Atenção: números podem variar de acordo com o indexador");
alert.append(button);

$("#alerts").append(alert);
