<div class="row text-center">
  <section class="search-filters">
    <h2>filtros <i class="fa fa-filter" aria-hidden="true"></i></h2>
  </section>
  <section class="search-main">

  </section>
</div>
