.bid-card {
  background-color: white;
  padding:10px 20px;
  box-shadow: 5px 5px 10px #cccccc;
  transition: border .5s;
  border:1px solid white;
  border-top: 7px solid $navy-blue;
  border-radius: 3px;
  font-size: 12px;

  &:hover {
    border-color: $navy-blue;
  }
  .text-logo {
    font-size:18px;
    margin-top:7px;
  }
  input {
    font-size: 15px;
  }
}
