.btn-home {
  color: white;
  background-color: rgba(255,255,255,0.3);
  border: 1.5px solid white;
  padding: 0.5em 1em;
  margin-right: 0.95em;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 1s ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
  }
}
