.btn-home {
  color: white;
  background-color: rgba(255,255,255,0.3);
  border: 1.5px solid white;
  padding: 0.5em 1em;
  margin-right: 0.95em;
  margin-bottom: 0.95em;
  border-radius: 50px;
  font-weight: 300;
  transition: background-color 1s ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
  }
}

.btn-navbar {
  color: $navy-blue;
  background-color: transparent;
  border: 1.5px solid $navy-blue;
  padding: 0.5em 1em;
  margin-right: 0.95em;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 1s ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $navy-blue;
  }
}

.btn-navbar-create-account {
  color: $green;
  background-color: transparent;
  border: 1.5px solid $green;
  padding: 0.5em 1em;
  margin-right: 0.95em;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 1s ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $green;
  }
}
