.details-card {
  background-color:white;
  color: #7f7f7f;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #cccccc;
  transition: border .5s;
  border: 1px solid white;
  border-radius: 3px;
  border-top: 7px solid;
  margin: 10px 0;
  h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0.3em;
    border-bottom: 3.5px solid #b3b3b3;
  }
  h2 {
    border-bottom: 3.5px solid $navy-blue;
  }
}


#bradesco {
  border-top-color: #CD072F;
  h1 {
    border-bottom-color: #CD072F;
  }
  &:hover {
    border: 1px solid #CD072F;
    border-top: 7px solid #CD072F;
  }
}

#vale {
  border-top-color: #009399;
  h1 {
    border-bottom-color: #009399;
  }
  &:hover {
    border: 1px solid #009399;
    border-top: 7px solid #009399;
  }
}

#banco-do-brasil {
  border-top-color: #FFF200;
  h1 {
    border-bottom-color: #FFF200;
  }
  &:hover {
    border: 1px solid #FFF200;
    border-top: 7px solid #FFF200;
  }
}

#banco-bmg {
  border-top-color: #EC860E;
  h1 {
    border-bottom-color: #EC860E;
  }
  &:hover {
    border: 1px solid #EC860E;
    border-top: 7px solid #EC860E;
  }
}

#banco-original {
  border-top-color: #56B766;
  h1 {
    border-bottom-color: #56B766;
  }
  &:hover {
    border: 1px solid #56B766;
    border-top: 7px solid #56B766;
  }
}

#banco-agiplan {
  border-top-color: #1A499A;
  h1 {
    border-bottom-color: #1A499A;
  }
  &:hover {
    border: 1px solid #1A499A;
    border-top: 7px solid #1A499A;
  }
}

#banco-bnp-paribas {
  border-top-color: #007E4E;
  h1 {
    border-bottom-color: #007E4E;
  }
  &:hover {
    border: 1px solid #007E4E;
    border-top: 7px solid #007E4E;
  }
}

#banco-bonsucesso {
  border-top-color: #2E3092;
  h1 {
    border-bottom-color: #2E3092;
  }
  &:hover {
    border: 1px solid #2E3092;
    border-top: 7px solid #2E3092;
  }
}

#banco-daycoval {
  border-top-color: #290E72;
  h1 {
    border-bottom-color: #290E72;
  }
  &:hover {
    border: 1px solid #290E72;
    border-top: 7px solid #290E72;
  }
}

#banco-fibra {
  border-top-color: #053E69;
  h1 {
    border-bottom-color: #053E69;
  }
  &:hover {
    border: 1px solid #053E69;
    border-top: 7px solid #053E69;
  }
}

#banco-haitong {
  border-top-color: #166AB1;
  h1 {
    border-bottom-color: #166AB1;
  }
  &:hover {
    border: 1px solid #166AB1;
    border-top: 7px solid #166AB1;
  }
}

#banco-indusval {
  border-top-color: #DF2331;
  h1 {
    border-bottom-color: #DF2331;
  }
  &:hover {
    border: 1px solid #DF2331;
    border-top: 7px solid #DF2331;
  }
}

#banco-morgan-stanley {
  border-top-color: #1D6FA6;
  h1 {
    border-bottom-color: #1D6FA6;
  }
  &:hover {
    border: 1px solid #1D6FA6;
    border-top: 7px solid #1D6FA6;
  }
}

#banco-pan {
  border-top-color: #213A6E;
  h1 {
    border-bottom-color: #213A6E;
  }
  &:hover {
    border: 1px solid #213A6E;
    border-top: 7px solid #213A6E;
  }
}

#banco-pine {
  border-top-color: #8B0305;
  h1 {
    border-bottom-color: #8B0305;
  }
  &:hover {
    border: 1px solid #8B0305;
    border-top: 7px solid #8B0305;
  }
}

#banco-sofisa {
  border-top-color: #235E4A;
  h1 {
    border-bottom-color: #235E4A;
  }
  &:hover {
    border: 1px solid #235E4A;
    border-top: 7px solid #235E4A;
  }
}

#banco-topazio {
  border-top-color: #00304A;
  h1 {
    border-bottom-color: #00304A;
  }
  &:hover {
    border: 1px solid #00304A;
    border-top: 7px solid #00304A;
  }
}

#banco-votorantim {
  border-top-color: #004B80;
  h1 {
    border-bottom-color: #004B80;
  }
  &:hover {
    border: 1px solid #004B80;
    border-top: 7px solid #004B80;
  }
}
