.footer {
  background: $gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 30px;
}
.right-footer {
  color: white;
  display: flex;
  flex-basis: 400px;
  justify-content: space-between;
}
.footer-social-links {
  color: white;
  display: flex;
  align-items: center;
}
.footer-social-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-social-links a:hover {
  opacity: 0.15;
}

.footer-copyright {
    color: white;
}

.footer .fa-copyright {
  color: white;
}
.footer-legal a{

  color: white;
}
.footer-legal a:hover {
  opacity: 1;
  text-decoration: underline;
  color: $light-gray;
}
