.form-security {
  background: white;
  margin: 2em 0;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #cccccc;
  h1 {
    text-align: center;
    margin: .25em 0 .5em 0;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin: 1.5em 0 1em 0;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

label {
  font-size: 14px;

}
abbr[title="required"] {
  display: none;

}

.btn-choose{
  margin-bottom: 20px;
  margin-left: -15px;
}

.tooltip {
  font-size:10px !important;
}

.tooltip-inner {
  width: 80px !important;
}
