.offer {
background-color: #b3b3b3;
color: #666666;
padding: 10px;
margin: 15px 0;
box-shadow: 3px 3px 5px #cccccc;
border-radius: 3px;
border: 1px solid #b3b3b3;
border-radius: 3px;
position:relative;
transition: 0.2s ease;
bottom:0;
display:flex;
justify-content: space-between;
align-items: center;
}
.offer:hover {
  bottom: 1px;
  box-shadow: 3px 3px 5px #cccccc;
}



.offer p {
  font-size:15px;
  color:black;
}

.offer h3 {
  font-size: 35px;
}
.bid-title {
font-size: 30px;
  font-weight: 700;
  color: #7f7f7f;

}


#best {
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 7px #cccccc;
  border-top: 7px solid #324E7B;

  &:hover {
  background-color: white;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #cccccc;
}

  i {
  position:absolute;

  top:-15px;
  left:-13px;
  color: #ffff66;
  font-size: 30px;
  text-shadow: 0px 0px 1px #000;
 }
}




 #controls {
  display:flex;
  .btn {
  margin:5px;
  height: 40px !important;
}
 }

 .links {
  font-size: 12px;
 }


