.search_banner {
  color: white;
  text-align: left;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.75;
    margin-bottom: 30px;
  }
  ::-webkit-input-placeholder {
    color:black;
  }

  ::-moz-placeholder {
      color:black;
  }

  ::-ms-placeholder {
      color:black;
  }

  ::placeholder {
      color:black;
  }
}

.header-input {
  padding: 0 20px;
  margin: 10px 0px;
}


