.security-card {
  background-color: white;
  padding:0 0 10px 0;
  box-shadow: 5px 5px 10px #cccccc;
  transition: border .5s;
  border:1px solid white;
  border-top: 7px solid;
  border-radius: 3px;
  min-width: 220px;

  &:hover {
    border: 1px solid;
    border-top: 7px solid;
  }
  .security-type-logo {
    position: absolute;
    right: 20px;
    top: 0px;
    background-color: white;
    font-size: 12px;
    color: #b3b3b3;
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-link {
    padding: 50px;
    font-size: 12px;
    margin: 10px;
  }

  .description {
  font-size: 10px;
  margin-bottom: -10px;

    strong {
      font-size: 20px;
    }

  tr td:first-child {
    text-align: left;

  }

  tr td:last-child {
    text-align: right;
    font-weight: 700;
    }
  }
  #logo {
    margin:5px;
  }
}

#bradesco {
  border-top-color: #CD072F;
  &:hover {
    border: 1px solid #CD072F;
    border-top: 7px solid #CD072F;
  }
}
