.security-card {
  background-color: white;
  padding:0 0 10px 0;
  box-shadow: 5px 5px 10px #cccccc;
  transition: border .5s;
  border:1px solid white;
  border-top: 7px solid;
  border-radius: 3px;
  min-width: 220px;
  min-height: 350px;
  margin: 10px 0;

  &:hover {
    border: 1px solid;
    border-top: 7px solid;
  }
  .security-type-logo {
    position: absolute;
    right: 2em;
    top: 0em;
    background-color: white;
    font-size: 12px;
    color: #b3b3b3;
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;


  }

  .card-link {
    font-size: 12px;
  }

  .description {
  font-size: 10px;
  margin-bottom: -10px;

    .security-card-header {
      height:10em;
      //margin: 1em 0;
      display: flex;
      flex-direction:column;
      justify-content:space-between;
      align-items:center
    }
    p {
      margin: 0 0 1px 0 !important;
      color: #7f7f7f;
    }

    strong {
      font-size: 20px;
      font-weight: 500;
    }

  tr td:first-child {
    text-align: left;

  }

  tr td:last-child {
    text-align: right;
    font-weight: 700;
    font-size:12px;
    }
  }
  #logo {
    margin:10px 0 0 0;
  }
}

#bradesco {
  border-top-color: #CD072F;
  &:hover {
    border: 1px solid #CD072F;
    border-top: 7px solid #CD072F;
  }
}

#vale {
  border-top-color: #009399;
  &:hover {
    border: 1px solid #009399;
    border-top: 7px solid #009399;
  }
}



#banco-do-brasil {
  border-top-color: #FFF200;
  &:hover {
    border: 1px solid #FFF200;
    border-top: 7px solid #FFF200;
  }
}

#banco-bmg {
  border-top-color: #EC860E;
  &:hover {
    border: 1px solid #EC860E;
    border-top: 7px solid #EC860E;
  }
}



#banco-original {
  border-top-color: #56B766;
  &:hover {
    border: 1px solid #56B766;
    border-top: 7px solid #56B766;
  }
}

