.user-card {
  background-color: white;
  margin-top:10px;
  box-shadow: 5px 5px 10px #cccccc;
  border-radius: 3px;
  padding: 15px;
  p {
  font-size: 15px;

    i{
      font-size: 100px;
      }

  }

}


