.value-proposition {
  background-size:cover;
  padding: 20px;
    h2 {
      color: white;
      font-weight: bold;
      padding: 10px 0;
      font-size: 28px
    }

    i {
      font-size: 55px;
      color: white;
      &:hover {
        color:#32B79;
      }
    }

    p {
      margin: 18px;
      color: white;
      font-weight: 300;
    }
}
