.what-clients-say {
  padding: 20px;
    h2 {
      color: white;
      font-weight: bold;
      padding: 10px 0;
    }

    h3 {
      color: $medium-blue;
      font-weight: bold;
      font-size: 20px;
    }

    p {
      margin: 20px;
      color: black;
      opacity: 0.8;
    }
}
