.what-is {
  padding: 20px;
  background-color: white;
  background-size: cover;
    h2 {
      color: #333333;
      font-size: 28px;
      font-weight: bold;
      padding: 10px 0;
    }

    h3 {
      color: $medium-blue;
      padding: 10px 0;
      font-weight: bold;
    }

    p {
      color: #4c4c4c;
      font-size: 18px;
      font-weight: 300;
      margin: 20px;
    }
}
